$a-font-title: 4rem;

.about {
  // height: 100vh;
  margin: 0 auto;
  padding-top: 10rem;
  @include tablet {
    margin-top: 5rem;
    padding: 0;
    width: 100%;
    height: auto;
  }
  &__title {
    text-align: center;
    &-sub {
      font-size: $a-font-title;
      font-weight: 600;
    }
  }

  &__content {
    @include flex(center, space-around);
    margin-top: 5rem;
    text-align: center;
    @include tablet {
      @include flex(center, center, nowrap, column);
      &-item {
        width: 100%;
      }
      &-item:nth-child(1) {
        margin-bottom: 4rem;
      }
      &-item:nth-child(2) {
        margin-bottom: 4rem;
      }
    }
  }

  &__content-list-img {
    text-align: left;
    width: 18rem;
    height: 18rem;
    background-color: white;
    border-radius: 3rem;
    padding: 1.5rem;
    @include flex(flex-start, center, nowrap, column);

    img {
      width: 3rem;
      height: 3rem;
      margin-top: 1rem;
      border-radius: 1rem;
    }
  }

  &__content-item-img {
    @include flex();
    img {
      margin-right: 1rem;
    }
  }

  &__content-item {
    @include flex(center, space-around, nowrap, column);
    width: calc(33% - 5.6rem);
    @include tablet {
      width: 100%;
    }
    &:first-child .about__content-list-img p {
      padding-top: 1rem;
      font-weight: 600;
    }
    &:nth-child(2) {
      .about__content-list-img {
        background-color: $primary-color;
      }
    }
    &:nth-child(2) .about__content-list-img p {
      padding-bottom: 1rem;
      font-weight: 600;
      color: white;
    }
    &:last-child .about__content-list-img p {
      padding-bottom: 1rem;
      font-weight: 600;
    }
    h5 {
      font-size: 1.8rem;
      margin: 2.5rem 0;
      @include tablet {
        margin: 0;
        margin-top: 1.5rem;
      }
    }
    p {
      font-size: 1.6rem;
    }
  }
}
