$bg-icon-banner: #3d8669;

.banner {
  position: relative;
  @include flex(center, center);
  height: 100vh;
  margin: 0 auto;
  @include tablet {
    @include flex(center, flex-start, nowrap, column);
    height: 100vh;
    padding-top: 10rem;
    margin-bottom: 5rem;
  }
  &__image {
    height: 100%;
    width: 50%;
    margin-right: 10rem;
    @include tablet {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }

  &-btn {
    @include flex(center, center);
    p {
      line-height: 2.6rem;
      padding-right: 1rem;
    }
    span {
      @include flex(center, center);
      @include rounded(0.1rem, 50%);
      background-color: $bg-icon-banner;
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  &__content {
    @include flex(flex-start, center, nowrap, column);
    height: inherit;
    width: 50%;
    color: $font-color;
    line-height: 1;
    @include tablet {
      @include flex(center, center, nowrap, column);
      width: 100%;
      height: auto;
      margin-top: 2rem;
    }
  }

  &__content h1 {
    margin: 5rem 0;
    font-size: 8rem;
    @include mw-1279 {
      font-size: 7.2rem;
    }
    @include desktop {
      font-size: 5.4rem;
      span {
        display: block;
      }
    }
    @include tablet {
      font-size: 3.2rem;
      margin: 2rem 0;
      span {
        display: unset;
      }
    }
  }
}

.down-other-section {
  @include flex(center, center);
  position: absolute;
  bottom: 4.4rem;
  padding: 1rem;
  border: 1px solid #888;
  border-radius: 5rem;
  width: 60px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
}
