$ct-color-file: #d15928;

.contact {
  position: relative;
  @include flex(center, center, nowrap, column);
  text-align: center;
  margin: 0 auto;
  margin-top: 10rem;
  padding-bottom: 4rem;
  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/images/personal.png');
    opacity: 0.6;
  }

  &__content-sub {
    font-size: 3rem;
    font-weight: 700;
  }
  &__form {
    form {
      @include flex(center, center, nowrap, column);
      margin-top: 3rem;
    }
    button {
      margin-top: 3rem;
      line-height: 24px;
    }
  }
  &-input {
    width: 35rem;
    margin-bottom: 1.5rem;
  }
  &__logo {
    @include flex(center, center);
    margin-top: 4rem;
  }
  &-select {
    width: 35rem;
    height: 4rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
  }
  &__box {
    background-color: white;
    padding: 6rem 6rem;
    border-radius: 0.5rem;
  }
}

.copyright {
  padding-top: 4rem;
  p {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

@include mobile {
  .contact {
    height: auto;
    padding: 0;
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 2rem;
    &__box {
      padding: 2.5rem;
    }

    &-input {
      width: 25rem;
    }
  }
}
