$h-font-logo: 2rem;
$h-color-text-mail: white;
$h-color-text-contact: #51616c;
$h-color-text: #1f7964;

.header {
  margin: 0 auto;
  padding: 1.6rem 0;
  font-size: 1.3rem;
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
  z-index: 12;
  @include flex(center);
  @include mobile {
    @include flex(center, space-between);
    padding: 0.8rem 2.4rem;
  }
  @include desktop {
    @include flex(center, space-between);
    padding: 0.8rem 2.4rem;
  }

  &__menu {
    width: 100%;
    margin: 0 6.4rem;
    @include mobile {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }
  &__menu-list {
    @include flex(center);
  }
  &__menu-list li:first-child {
    font-size: $h-font-logo;
    font-weight: 600;
  }
  &__menu-list li:nth-child(6) {
    color: $primary-color;
    font-weight: 600;
    border-bottom: 2px solid currentColor;
  }
  &__menu-list li:nth-child(5) {
    @include rounded(0.8rem 1.5rem 0.8rem 1rem, 5rem);
    @include font(600, $h-color-text-contact);
    background-color: $header-bg-contact;
    span {
      @include rounded(0 1rem, 5rem);
      @include font(500, $h-color-text-mail);

      background-color: $primary-color;
      margin: 0 1.5rem 0 0;
      line-height: 1rem;
    }
  }

  &__menu-list li:last-child a {
    color: $primary-color;
  }

  &__menu-item {
    margin-right: 7.2rem;
    cursor: pointer;
    @include mw-1279 {
      margin-right: 3.2rem;
    }
    @include desktop {
      margin-right: 1.6rem;
    }
    &:nth-child(4) {
      flex-grow: 1;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  // Start icons, input checked menu mobile
  .logo {
    display: none;
    @include mobile {
      font-size: $h-font-logo;
      font-weight: 600;
      display: block;
    }
    @include desktop {
      font-size: $h-font-logo;
      font-weight: 600;
      display: block;
    }
  }

  .toggle-icon {
    display: none;
    @include mobile {
      display: block;
    }
    @include desktop {
      display: block;
    }
  }

  .nav__input {
    display: none;
  }

  .header__nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    animation: fadeIn linear 0.2s;
  }

  .nav__input:checked ~ .header__nav-overlay {
    display: block;
  }

  .nav__input:checked ~ .header__menu__mobile {
    transform: translateX(0);
    opacity: 1;
  }

  // Start header menu mobile
  &__menu__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    color: white;
    width: 25rem;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.2s;
    box-shadow: 0px 0px 35px -5px $primary-color;
    &-list {
      padding-top: 0.8rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }
    &-list li a:active {
      color: #1f7964;
    }

    &-list li:last-child {
      @include rounded(0.8rem 0.8rem, 5rem);
      @include font(600, $h-color-text-contact);
      background-color: $header-bg-contact;
      span {
        @include rounded(0 1rem, 5rem);
        @include font(500, $h-color-text-mail);

        background-color: $primary-color;
        line-height: 1rem;
      }
    }
    &-item {
      font-size: 1.4rem;
      padding-bottom: 0.8rem;
      font-weight: 500;
      @include flex(center, flex-start);
    }

    &-item:first-child {
    }

    // &-item a {
    //   line-height: 32px;
    //   padding-left: 0.5rem;
    // }
  }

  &__menu__mobile-close {
    position: absolute;
    top: 0.8rem;
    right: 2.4rem;
  }
}
