@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $dir;
}
@mixin font($font-weight: 500, $font-color: $h-color-text-contact) {
  font-weight: $font-weight;
  color: $font-color;
}
@mixin rounded($padding, $radius) {
  padding: $padding;
  border-radius: $radius;
}
