.news {
  margin: 0 auto;
  margin-top: 10rem;
  @include flex(center, center);
  @include tablet {
    margin-top: 5rem;
    padding: 0 2rem;
  }
  &__content {
    @include flex(center);
    width: 100%;
    margin-left: 6rem;
    @include tablet {
      @include flex(center, center, nowrap, column);
      margin: 0;
    }
    h3 {
      padding-bottom: 1rem;
    }
  }

  &-join {
    position: relative;
    width: 25rem;
    input {
      width: 100%;
      height: 4.6rem;
    }
  }

  &-btn {
    position: absolute;
    right: -10px;
    top: 0;
    line-height: 24px;
  }

  &__email {
    width: 30%;
    @include desktop {
      margin-right: 4rem;
    }
    @include tablet {
      @include flex(center, center, nowrap, column);
      margin-right: 0;
      margin-bottom: 3rem;
      width: 100%;
    }

    &-content {
      padding-bottom: 0.5rem;
      font-size: 1.6rem;
    }
  }

  &__posts {
    @include flex();
    width: 70%;
    @include tablet {
      width: 100%;
    }
  }

  &__posts-item {
    width: 35rem !important;
    margin-right: 3rem;
    @include tablet {
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
    }
  }

  &-img-post {
    width: 35rem;
    height: 25rem;
  }
  &__posts-content {
    box-shadow: 5px 10px #888888;
    padding: 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    p {
      padding: 1rem 0;
      font-size: 1.2rem;
    }
    h5 {
      font-size: 1.6rem;
    }
  }

  &__posts-author {
    margin-top: 2rem;
    @include flex(center);
    u {
      font-size: 1.2rem;
      flex-grow: 1;
    }
    a {
      @include flex(center, center);
      span {
        @include flex(center, center);
      }
    }
  }

  &-img-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__posts-img {
    position: relative;
    h5 {
      font-size: 1.6rem;
    }
  }
}

.img-category {
  position: absolute;
  bottom: 1.5rem;
  span {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    margin-left: 1rem;
  }
}
