$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$mw-1279: 1280px;
@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mw-1279 {
  @media (max-width: #{$mw-1279 - 1px}) {
    @content;
  }
}
