$s-bg-color: #f8fcfd;

.study {
  position: relative;
  background-color: $s-bg-color;
  &__inner {
    @include flex(center, center);
    // height: 100vh;
    margin: 0 auto;
    margin-top: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    @include tablet {
      @include flex(center, center, nowrap, column);
      margin: 0;
      margin-top: 5rem;
      padding: 1.5rem;
      height: auto;
    }
  }

  &__image {
    height: 100%;
    width: 50%;
    margin-right: 10rem;
    @include tablet {
      margin: 0;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    @include flex(flex-start, center, nowrap, column);
    height: inherit;
    width: 50%;
    color: $font-color;
    line-height: 1;
    &-p {
      font-size: 1.6rem;
    }
    p {
      line-height: 1.8;
    }
    h3 {
      margin-bottom: 2rem;
    }
    @include tablet {
      margin-top: 1rem;
      width: 100%;
      p {
        line-height: 1.5;
      }
      &-link {
        margin-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  }

  &__content-link {
    @include flex();
    margin: 3rem 0;
    a {
      margin-right: 2rem;
      @include tablet {
        margin-right: 0.5rem;
      }
    }
    img {
      width: 15rem;
      height: 5rem;
      border-radius: 1rem;
    }
  }
}
