.team {
  position: relative;
  margin: 0 auto;
  margin-top: 10rem;
  @include flex(center, center);
  @include tablet {
    margin-top: 5rem;
    height: auto;
  }
  &::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-image: url('/images/report.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
  &__content {
    @include flex(flex-start, center, nowrap, column);
    transform: translateX(-30%);
    max-width: 60rem;
    background-color: white;
    padding: 3rem;
    border-radius: 0.5rem;
    @include desktop {
      transform: none;
    }
  }

  &__info {
    p {
      margin-bottom: 1.5rem;
      line-height: 2.2;
      font-size: 1.6rem;
    }
    b {
      font-size: 1.8rem;
    }
    img {
      width: 24px;
      height: 24px;
      margin-bottom: 1rem;
    }
  }

  &__direction {
    width: 100%;
    @include flex(center, space-between);
    a {
      span {
        @include flex(center, center);
      }
      margin-right: 1rem;
      cursor: pointer;
    }
    b {
      font-size: 1.6rem;
    }
    &-back-forward {
      @include flex(center, center);
    }
    &-web {
      @include flex();
      b {
        padding-left: 1rem;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@include mobile {
  .team {
    padding: 0;
    &__content {
      transform: translateX(0);
    }
  }
}
