@import './theme/';

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  color: $font-color;
  scroll-behavior: smooth;
}

.wrapper {
  // max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  padding-left: 2rem;
  padding-right: 2rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $font-color;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
}

.box-shadow {
  box-shadow: 0 0 30px rgba(black, 0.055);
}

.category-title {
  color: $primary-color;
  font-weight: 700;
  font-size: 2.2rem;
  @include mobile {
    font-size: 1.6rem;
    text-align: center;
  }
  &-sub {
    padding-top: 0.8rem;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1;
    @include mobile {
      font-size: 2.4rem;
      padding-top: 0;
      text-align: center;
    }
  }
}

.btn {
  background-color: $primary-color;
  font-weight: 600;
  color: white;
  font-size: 1.4rem;
  padding: 1.1rem 1.5rem;
  border-radius: 0.8rem;
  &-large {
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    height: 4.3rem;
    border: none;
  }
  &-contact {
    width: 8rem;
  }
  &-rounded {
    padding: 1.1rem 1.2rem;
    border-radius: 1.5rem;
  }
}

.input {
  outline: none;
  height: 4.6rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  line-height: 4.6px;
}
